<link rel="stylesheet" href="home.component.css">

<div class="button-container">

  <button mat-raised-button class="bt" color="primary" [routerLink]="['/login']">
    כניסה 
  </button>
  <button mat-raised-button class="bt" color="primary" [routerLink]="['/register']">הרשמה</button>
  <button mat-raised-button class="bt" color="primary" [routerLink]="['/getCourses']">
    להצגת קורסים
  </button>
  <button mat-raised-button class="bt" color="primary" [routerLink]="['/new-courses']">להוספת קורס</button>

</div>
<router-outlet></router-outlet>